body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 900px;
  font-family: monospace;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  width: 300px;
  height: 900px;
  background-color: aliceblue;
}

main {
  border: 1px solid black;
  width: 600px;
  height: 900px;
  background-color: antiquewhite;
}

#profile-picture {
  border-radius: 50%;
  height: 150px;
  width: auto;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 30px;
  margin-left: -5px;
}

.aside-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#section-profile {
  height: 220px;
  justify-content: space-evenly;
}

.icon {
  width: 30px;
}

#section-stack-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 279px;
  padding: 20px;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#section-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 580px;
  overflow: auto;
}