body {
  display: grid;
  font-family: 'Roboto Mono', monospace;
  background-image: linear-gradient(#fcffe3, #ffffef, #ffffef, #ffffef, #fdffed);
}

/* <header> */

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 1%;
  height: 100vh;
}

.header-inner-containers {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.profile-picture {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: 1%;
}

.contact-info {
  display: flex;
  justify-content: space-around;
  min-width: 150px;
}

.education-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* </header> */

/* <main> */

main {
  display: flex;
  flex-direction: column;
}

.section-stack-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  padding: 10px;
}

.section-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* </main> */

.icon {
  width: 30px;
}

em {
  margin-bottom: 10px;
}

address {
  display: flex;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  width: 30%;
  justify-content: flex-start;
  gap: 20px;
}

h4 {
  font-style: normal;
}
